@import "../utils/_variables.scss";
.weather__location {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: $color-button;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);

  &-button {
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    color: #fff;
    svg {
      font-size: 1.25rem;
    }
  }
}
