.card__weather {
  background: #1e213a;
  width: 120px;
  max-width: 100%;
  padding: 18px 22px;
  &-day {
    color: #e7e7eb;
    margin: 0 0 10px 0;
    text-align: center;
  }
  &-image {
    max-width: 56px;
    margin: 0 auto 30px;
    display: block;
  }
  &-temperature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-active {
    color: #e7e7eb;
  }
  &-unactive {
    color: #a09fb1;
  }
  @media screen and (min-width: 992px) {
    width: 100%;
  }
}
